In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Categorical variables can be divided into two categories:**

1.    **Nominal: no particular order**
2.   **Ordinal: there is some order between values**

In [4]:
import numpy as np
import pandas as pd

# **Nominal**

**1.   One hot encoding**

**2.   Label Encoding**

In [32]:
data = pd.DataFrame({ 'gender' : ['Male', 'Female', 'Male', 'Female', 'Female'],
                       'class' : ['A','B','C','D','A'],
                        'city' : ['Delhi','Gurugram','Delhi','Delhi','Gurugram'] })
data.head()

   gender class      city
0    Male     A     Delhi
1  Female     B  Gurugram
2    Male     C     Delhi
3  Female     D     Delhi
4  Female     A  Gurugram

In [33]:
# One hot encoding
encod_gender =pd.get_dummies(data['gender'])
encod_city= pd.get_dummies(data['city'])

# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le_class = le.fit_transform(data[["class"]])
data['le_class']=le_class

new_data= pd.concat([data, encod_gender,encod_city],axis=1)
new_data

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   gender class      city  le_class  Female  Male  Delhi  Gurugram
0    Male     A     Delhi         0       0     1      1         0
1  Female     B  Gurugram         1       1     0      0         1
2    Male     C     Delhi         2       0     1      1         0
3  Female     D     Delhi         3       1     0      1         0
4  Female     A  Gurugram         0       1     0      0         1

In [34]:
new_data= new_data.drop(columns=['gender','city','class'])
new_data

   le_class  Female  Male  Delhi  Gurugram
0         0       0     1      1         0
1         1       1     0      0         1
2         2       0     1      1         0
3         3       1     0      1         0
4         0       1     0      0         1

# **Ordinal Encoding using dictionary**

In [36]:
temp = {'temperature' :['very cold', 'cold', 'warm', 'hot', 'very hot']}
df=pd.DataFrame(temp)
print(df)
dictionary= {'very cold': 1,'cold': 2,'warm': 3,'hot': 4,"very hot":5}
df["temp_ordinal"] = df.temperature.map(dictionary)
print(df)

  temperature
0   very cold
1        cold
2        warm
3         hot
4    very hot
  temperature  temp_ordinal
0   very cold             1
1        cold             2
2        warm             3
3         hot             4
4    very hot             5